<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=^, initial-scale=1.0">
    <title>Items</title>
</head>
<body>
    <h1>Inventory Items</h1>
    <hr>
    <%- include('partials/nav.ejs') %>
    <hr>
    <a href="/add">Add Item</a>
    <ul>
        <% items.map(item => { %>
            <li>Name: <%= item.itemname %>, Price: <%= item.price %>, Stock: <%= item.quantity %></li>
        <% }); %>
    </ul>
</body>
</html>